<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.ad.mapper.IndexImportMapper">
  <resultMap id="BaseResultMap" type="com.mk.ad.vo.IndexImport">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="publish_id" jdbcType="VARCHAR" property="publish_id" />
    <result column="media_id" jdbcType="VARCHAR" property="media_id" />
    <result column="slot_type" jdbcType="VARCHAR" property="slot_type" />
    <result column="pos_id" jdbcType="VARCHAR" property="pos_id" />
    <result column="if_update" jdbcType="INTEGER" property="if_update" />
    <result column="cost" jdbcType="REAL" property="cost" />
    <result column="pv" jdbcType="INTEGER" property="pv" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="click_rate" jdbcType="REAL" property="click_rate" />
    <result column="ecpm" jdbcType="REAL" property="ecpm" />
    <result column="ecpc" jdbcType="REAL" property="ecpc" />
    <result column="is_deleted" jdbcType="INTEGER" property="is_deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `date`, publish_id, media_id, slot_type, pos_id, if_update, cost, pv, click, 
    click_rate, ecpm, ecpc, is_deleted
  </sql>
  <select id="selectByExample" parameterType="com.mk.ad.vo.IndexImportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from index_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from index_import
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from index_import
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.ad.vo.IndexImportExample">
    delete from index_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.IndexImport" useGeneratedKeys="true">
    insert into index_import (`date`, publish_id, media_id, 
      slot_type, pos_id, if_update, 
      cost, pv, click, click_rate, 
      ecpm, ecpc, is_deleted)
    values (#{date,jdbcType=TIMESTAMP}, #{publish_id,jdbcType=VARCHAR}, #{media_id,jdbcType=VARCHAR}, 
      #{slot_type,jdbcType=VARCHAR}, #{pos_id,jdbcType=VARCHAR}, #{if_update,jdbcType=INTEGER}, 
      #{cost,jdbcType=REAL}, #{pv,jdbcType=INTEGER}, #{click,jdbcType=INTEGER}, #{click_rate,jdbcType=REAL}, 
      #{ecpm,jdbcType=REAL}, #{ecpc,jdbcType=REAL}, #{is_deleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.IndexImport" useGeneratedKeys="true">
    insert into index_import
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="publish_id != null">
        publish_id,
      </if>
      <if test="media_id != null">
        media_id,
      </if>
      <if test="slot_type != null">
        slot_type,
      </if>
      <if test="pos_id != null">
        pos_id,
      </if>
      <if test="if_update != null">
        if_update,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="pv != null">
        pv,
      </if>
      <if test="click != null">
        click,
      </if>
      <if test="click_rate != null">
        click_rate,
      </if>
      <if test="ecpm != null">
        ecpm,
      </if>
      <if test="ecpc != null">
        ecpc,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="publish_id != null">
        #{publish_id,jdbcType=VARCHAR},
      </if>
      <if test="media_id != null">
        #{media_id,jdbcType=VARCHAR},
      </if>
      <if test="slot_type != null">
        #{slot_type,jdbcType=VARCHAR},
      </if>
      <if test="pos_id != null">
        #{pos_id,jdbcType=VARCHAR},
      </if>
      <if test="if_update != null">
        #{if_update,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=REAL},
      </if>
      <if test="pv != null">
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>
      <if test="click_rate != null">
        #{click_rate,jdbcType=REAL},
      </if>
      <if test="ecpm != null">
        #{ecpm,jdbcType=REAL},
      </if>
      <if test="ecpc != null">
        #{ecpc,jdbcType=REAL},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.ad.vo.IndexImportExample" resultType="java.lang.Long">
    select count(*) from index_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update index_import
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publish_id != null">
        publish_id = #{record.publish_id,jdbcType=VARCHAR},
      </if>
      <if test="record.media_id != null">
        media_id = #{record.media_id,jdbcType=VARCHAR},
      </if>
      <if test="record.slot_type != null">
        slot_type = #{record.slot_type,jdbcType=VARCHAR},
      </if>
      <if test="record.pos_id != null">
        pos_id = #{record.pos_id,jdbcType=VARCHAR},
      </if>
      <if test="record.if_update != null">
        if_update = #{record.if_update,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null">
        cost = #{record.cost,jdbcType=REAL},
      </if>
      <if test="record.pv != null">
        pv = #{record.pv,jdbcType=INTEGER},
      </if>
      <if test="record.click != null">
        click = #{record.click,jdbcType=INTEGER},
      </if>
      <if test="record.click_rate != null">
        click_rate = #{record.click_rate,jdbcType=REAL},
      </if>
      <if test="record.ecpm != null">
        ecpm = #{record.ecpm,jdbcType=REAL},
      </if>
      <if test="record.ecpc != null">
        ecpc = #{record.ecpc,jdbcType=REAL},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update index_import
    set id = #{record.id,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=TIMESTAMP},
      publish_id = #{record.publish_id,jdbcType=VARCHAR},
      media_id = #{record.media_id,jdbcType=VARCHAR},
      slot_type = #{record.slot_type,jdbcType=VARCHAR},
      pos_id = #{record.pos_id,jdbcType=VARCHAR},
      if_update = #{record.if_update,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=REAL},
      pv = #{record.pv,jdbcType=INTEGER},
      click = #{record.click,jdbcType=INTEGER},
      click_rate = #{record.click_rate,jdbcType=REAL},
      ecpm = #{record.ecpm,jdbcType=REAL},
      ecpc = #{record.ecpc,jdbcType=REAL},
      is_deleted = #{record.is_deleted,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ad.vo.IndexImport">
    update index_import
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="publish_id != null">
        publish_id = #{publish_id,jdbcType=VARCHAR},
      </if>
      <if test="media_id != null">
        media_id = #{media_id,jdbcType=VARCHAR},
      </if>
      <if test="slot_type != null">
        slot_type = #{slot_type,jdbcType=VARCHAR},
      </if>
      <if test="pos_id != null">
        pos_id = #{pos_id,jdbcType=VARCHAR},
      </if>
      <if test="if_update != null">
        if_update = #{if_update,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=REAL},
      </if>
      <if test="pv != null">
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="click_rate != null">
        click_rate = #{click_rate,jdbcType=REAL},
      </if>
      <if test="ecpm != null">
        ecpm = #{ecpm,jdbcType=REAL},
      </if>
      <if test="ecpc != null">
        ecpc = #{ecpc,jdbcType=REAL},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ad.vo.IndexImport">
    update index_import
    set `date` = #{date,jdbcType=TIMESTAMP},
      publish_id = #{publish_id,jdbcType=VARCHAR},
      media_id = #{media_id,jdbcType=VARCHAR},
      slot_type = #{slot_type,jdbcType=VARCHAR},
      pos_id = #{pos_id,jdbcType=VARCHAR},
      if_update = #{if_update,jdbcType=INTEGER},
      cost = #{cost,jdbcType=REAL},
      pv = #{pv,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER},
      click_rate = #{click_rate,jdbcType=REAL},
      ecpm = #{ecpm,jdbcType=REAL},
      ecpc = #{ecpc,jdbcType=REAL},
      is_deleted = #{is_deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--导入展示数据 -->
  <select id="importDataList" parameterType="com.mk.ad.vo.IndexImport" resultMap="BaseResultMap">
    select
    date as date ,
    <if test="publish_id_group == 1 " >
      publish_id,
    </if>
    <if test="media_group == 1 " >
      media_id,
    </if>
    <if test="slot_type_group == 1 " >
      slot_type,
    </if>
    <if test="slot_group == 1 " >
      pos_id,id,
    </if>
    sum(if_update) as if_update ,
    sum(cost) as cost ,
    sum(pv) as pv,
    sum(click) as click ,
    sum(click_rate) as click_rate ,
    sum(ecpm) as ecpm ,
    sum(ecpc) as ecpc
    from index_import
    where is_deleted = 1
    <if test="dateStart != null and dateEnd != null">
      and date >= #{dateStart} and date &lt;= #{dateEnd}
    </if>
    <if test="publish_id != null and publish_id.size > 0">
      <foreach collection="publish_id" open="AND publish_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="media_id != null and media_id.size > 0">
      <foreach collection="media_id" open="AND media_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="slot_type != null and slot_type.size > 0">
      <foreach collection="slot_type" open="AND slot_type IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="pos_id != null and pos_id.size > 0">
      <foreach collection="pos_id" open="AND pos_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    group by date
    <if test="publish_id_group != null and publish_id_group == 1">
      ,publish_id
    </if>
    <if test="media_group != null and media_group == 1">
      ,media_id
    </if>
    <if test="slot_type_group != null and slot_type_group == 1">
      ,slot_type
    </if>
    <if test="slot_group != null and slot_group == 1">
      ,pos_id,id
    </if>
    order by date desc
  </select>
  <select id="selectImportDataListCount" parameterType="com.mk.ad.vo.Request.IndexImportRequestDTO" resultType="java.lang.Integer">
    select count(distinct date
    <if test="publish_id_group == 1 " >
      ,publish_id
    </if>
    <if test="media_group == 1 " >
      ,media_id
    </if>
    <if test="slot_type_group == 1 " >
      ,slot_type
    </if>
    <if test="slot_group == 1 " >
      ,pos_id
    </if>
    )
    from index_import
    where 1=1
    <if test="dateStart != null and dateEnd != null">
      and date >= #{dateStart} and date &lt;= #{dateEnd}
    </if>
  </select>
  <update id="upImportStatus" parameterType="com.mk.ad.vo.IndexImport">
      UPDATE index_import
      SET if_update = #{if_update}
      WHERE id = #{id,jdbcType=BIGINT}
  </update>
  <update id="importDataRemove" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";">
      UPDATE index_import
      SET is_deleted = 0
      WHERE id = #{item}
    </foreach>
  </update>
  <select id="importSspList" parameterType="com.mk.ad.vo.IndexImport" resultMap="BaseResultMap">
    select
    date as date ,
    <if test="media_group == 1 " >
      media_id,
    </if>
    <if test="slot_type_group == 1 " >
      slot_type,
    </if>
    <if test="slot_group == 1 " >
      pos_id,
    </if>
    sum(cost) as cost ,
    sum(pv) as pv,
    sum(click) as click ,
    sum(click_rate) as click_rate ,
    sum(ecpm) as ecpm ,
    sum(ecpc) as ecpc
    from index_import
    where if_update = 1
    <if test="dateStart != null and dateEnd != null">
      and date >= #{dateStart} and date &lt;= #{dateEnd}
    </if>
    <if test="publish_id != null and publish_id.size > 0">
      <foreach collection="publish_id" open="AND publish_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="media_id != null and media_id.size > 0">
      <foreach collection="media_id" open="AND media_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="slot_type != null and slot_type.size > 0">
      <foreach collection="slot_type" open="AND slot_type IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    <if test="pos_id != null and pos_id.size > 0">
      <foreach collection="pos_id" open="AND pos_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
    group by date
    <if test="media_group != null and media_group == 1">
      ,media_id
    </if>
    <if test="slot_type_group != null and slot_type_group == 1">
      ,slot_type
    </if>
    <if test="slot_group != null and slot_group == 1">
      ,pos_id
    </if>
    order by date desc
  </select>
  <select id="selectIdByname" parameterType="com.mk.ad.vo.IndexImport" resultMap="BaseResultMap">
        select *
        from index_import
        where date = #{date}
        and pos_id = #{pos_id}
    </select>
</mapper>